<button mat-icon-button >
    <mat-icon>add_alert</mat-icon>
</button>
<button mat-icon-button >
    <mat-icon>person_add_alt</mat-icon>
</button>
<button mat-icon-button [matMenuTriggerFor]="colormenu">
    <mat-icon>color_lens</mat-icon>
</button>
<mat-menu #colormenu="matMenu">
    <button mat-menu-item class="dot" style="background-color: white; border: 1px solid rgba(0, 0, 0, 0.205);"></button>
    <button mat-menu-item class="dot" style="background-color: lightcoral;"></button>
    <button mat-menu-item class="dot" style="background-color: orange;"></button>
    <button mat-menu-item class="dot" style="background-color: yellow;"></button>
    <button mat-menu-item class="dot" style="background-color: green;"></button>
    <button mat-menu-item class="dot" style="background-color: teal;"></button>
    <button mat-menu-item class="dot" style="background-color: lightblue;"></button>
    <button mat-menu-item class="dot" style="background-color: darkcyan;"></button>
    <button mat-menu-item class="dot" style="background-color: purple;"></button>
</mat-menu>
<button mat-icon-button >
    <mat-icon>image</mat-icon>
</button>
<button mat-icon-button >
    <mat-icon>archive</mat-icon>
</button>
<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item>Add label</button>
    <button mat-menu-item>Add drawing</button>
    <button mat-menu-item>Show checkboxes</button>
</mat-menu>