<div *ngIf="path=='trash'">
    <button mat-icon-button  >
        <mat-icon><img src="../assets\deleteforever.svg" alt=""></mat-icon>
    </button>
    <button mat-icon-button  >
        <mat-icon><img src="../assets\restore.svg" alt=""></mat-icon>
    </button>
</div>
<div *ngIf="path!='trash'">
    <button mat-icon-button  >
        <mat-icon><img src="../assets\add alert.svg" alt=""></mat-icon>
    </button>
    <button mat-icon-button  >
        <mat-icon><img src="../assets\person.svg" alt=""></mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="colormenu" >
        <mat-icon><img src="../assets\color_palette.svg" alt=""></mat-icon>
    </button>
    <mat-menu #colormenu="matMenu">
        <div  class="colormenu" fxLayout="row" fxLayoutGap="5px">
            <div fxLayout="column" fxLayoutGap="5px">
                <button mat-menu-item class="dot" (click)="color('#FFFFFF')" style="background-color: white; border: 1px solid rgba(0, 0, 0, 0.205);"></button>
                <button mat-menu-item class="dot" (click)="color('#f08080')" style="background-color: lightcoral;"></button>
                <button mat-menu-item class="dot" (click)="color('#ffa500')" style="background-color: orange;"></button>
            </div>
            <div fxLayout="column" fxLayoutGap="5px">
                <button mat-menu-item class="dot" (click)="color('#FFFF00')" style="background-color: yellow;"></button>
                <button mat-menu-item class="dot" (click)="color('#008000')" style="background-color: green;"></button>
                <button mat-menu-item class="dot" (click)="color('#008080')" style="background-color: teal;"></button>
            </div>
            <div fxLayout="column" fxLayoutGap="5px">
                <button mat-menu-item class="dot" (click)="color('#add8e6')" style="background-color: lightblue;"></button>
                <button mat-menu-item class="dot" (click)="color('#008b8b')" style="background-color: darkcyan;"></button>
                <button mat-menu-item class="dot" (click)="color('#800080')" style="background-color: purple;"></button>
            </div>
        </div>
    </mat-menu>
    <button mat-icon-button  >
        <mat-icon><img src="../assets\image.svg" alt=""></mat-icon>
    </button>
    <button mat-icon-button (click)="ArchiveNotes()" *ngIf="path!='archive'">
        <mat-icon><img src="../assets\archive.svg" alt=""></mat-icon>
    </button>
    <button mat-icon-button (click)="ArchiveNotes()" *ngIf="path=='archive'">
        <mat-icon><img src="../assets\unarchive.svg" alt=""></mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="TrashNote()">Move to trash</button>
        <button mat-menu-item>Add label</button>
        <button mat-menu-item>Add drawing</button>
        <button mat-menu-item>Show checkboxes</button>
    </mat-menu>
</div>