<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="card" fxFlex="50" fxLayout="column">
        <mat-form-field  appearance="outline" class="form" *ngIf="expanded">
            <input matInput placeholder="Title" [(ngModel)]="title">
        </mat-form-field>
        <mat-form-field fxFlex="100" appearance="outline" class="form" (click)="expand()">
            <input matInput placeholder="Take a note..." [(ngModel)]="note">
            <button mat-icon-button matSuffix>
                <mat-icon><img src="../assets\check_box.svg" alt=""></mat-icon>
            </button>
            <button mat-icon-button matSuffix>
                <mat-icon><img src="../assets\brush.svg" alt=""></mat-icon>
            </button>
            <button mat-icon-button matSuffix>
                <mat-icon><img src="../assets\image.svg" alt=""></mat-icon>
            </button>
        </mat-form-field>
        <div *ngIf="expanded" fxLayout="row">
            <app-icons></app-icons>
            <button mat-button style="margin-left: auto;" (click)="close()">Close</button>
        </div>
    </mat-card>
</div>