.main {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav .toolbar {
  position: fixed;
  z-index: 2;
}


.sidenav-container {
  flex: 1;
}

.nav .sidenav-container {
  flex: 1 0 auto;
}





.toolbar{

  background-color: white;
}


@media only screen and (max-width: 425px){
  .toolbar{
    width: 425px;
  }
}



.menu{
  padding: 0px 12px;
  margin: 0px 4px;
}

.keeplogo{
  padding-right: 10px;
}

.matform{
  padding: 0px 10px;
  margin-left: auto;
  margin-right: auto;
  
}

.refresh,.settings,.agenda{
  padding: 8px;
}

.matform {
  .mat-form-field-appearance-outline .mat-form-field-wrapper{
    padding:0px;
    margin: 0px;
    background-color: #F1F3F4;
    width: 500px;
    font-size: 15px;
    border-radius: 5px;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border: 0px;
    min-width: 0px;
  }
  .mat-form-field-wrapper {
    padding-bottom: 0px;
  }
}




@media only screen and (max-width: 425px){
  .sidenav-container{
    width: 425px;
    flex: 1;
  }
}

.sidenav{
  width: 130px;
}

.sidenavlist{
  margin: 5px 5px;
}


 