<div fxLayout="row" fxLayoutAlign="center center" >
    <mat-card id="card" fxFlex.xs="100%" class="within_box" style="margin-top: 80px;"  fxLayout="column" fxLayoutAlign="center start">
    <div class="Title" style="font-size:xx-large;">
        <span style="color: #3b6fca;">F</span>
        <span style="color: #3ec763;">u</span>
        <span style="color: #dfa700;">n</span>
        <span style="color: #f84130;">d</span>
        <span style="color: #376bc5;">o</span>
        <span style="color: #ffc413;">o</span>
    </div>
    <br>
    <h1>Reset password</h1>

    <div class="form">
        <mat-form-field class="password" appearance="outline" class="box_full_width">
            <mat-label>New password</mat-label>
            <input matInput [formControl]="password" required>
            <mat-error>Enter new password</mat-error>
        </mat-form-field>
    </div>


    <div class="form">
        <mat-form-field class="password" appearance="outline" class="box_full_width">
            <mat-label>Confirm password</mat-label>
            <input matInput [formControl]="confirm" required>
            <mat-error>Confirm new password</mat-error>
        </mat-form-field>
    </div>
    <div fxFlexAlign="start">
        <mat-checkbox class="example-margin">Show password</mat-checkbox>
    </div>

    <br>

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="200px" fxLayoutGap.xs="10px">
        <button mat-button color="primary">Return to log in</button>
        <button mat-raised-button color="primary">Submit</button>
    </div>
    </mat-card>
</div>